{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{{head}}</title>

    <link rel="icon" href="{% static  'assets/images/logo/8.png' %}" sizes="32x32" />
    <link rel="icon" href="{% static  'assets/images/logo/8.png' %}" sizes="192x192" />
    <link rel="stylesheet" href="{% static  'assets/css/vendor/vendor.min.css' %}" />
    <link rel="stylesheet" href="{% static  'assets/css/plugins/plugins.min.css' %}" />
    <link rel="stylesheet" href="{% static  'assets/css/style.min.css' %}" />

    <!-- Main Style -->
    <!--  <link rel="stylesheet" href="{% static  'assets/css/style.css' %}" />-->
</head>

<body style="zoom: 150%;">
    <!-- Header Area start  -->
    <!-- Header Top  End -->
    <!-- Header Bottom  Start -->
    <div class="header-bottom d-none d-lg-block">
        <div class="container position-relative">
            <div class="row align-self-center">
                <!-- Header Logo Start -->
                <div class="col-auto align-self-center">
                    <div class="header-logo">
                        <a href="/"><img src="{% static  'apna/poora - Copy.png' %}" alt="Site Logo" /></a>
                    </div>
                </div>
                <!-- Header Logo End -->

                <!-- Header Action Start -->
                <div class="col align-self-center">
                    <div class="header-actions">
                        <div class="header_account_list">
                            <a href="javascript:void(0)" class="header-action-btn search-btn"><i
                                    class="icon-magnifier"></i></a>
                            <div class="dropdown_search">
                                <form class="action-form" action="#">
                                    <input class="form-control" placeholder="Enter your search key" type="text">
                                    <button class="submit" type="submit"><i class="icon-magnifier"></i></button>
                                </form>
                            </div>
                        </div>
                        <!-- Single Wedge Start -->
                        <div class="header-bottom-set dropdown">
                            <button class="dropdown-toggle header-action-btn" data-bs-toggle="dropdown"><i
                                    class="icon-user"></i></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a class="dropdown-item" href="login">Sign in</a></li>
                                <li><a class="dropdown-item" href="signup">Sign up</a></li>
                                <li><a class="dropdown-item" href="checkout.html">Checkout</a></li>
                                <li><a class="dropdown-item" href="my-account.html">My account</a></li>

                            </ul>
                        </div>
                        <!-- Single Wedge End -->
                        <a href="#offcanvas-cart"
                            class="header-action-btn header-action-btn-cart offcanvas-toggle pr-0">
                            <i class="icon-handbag"></i>
                            <span class="header-action-num" id="cn"></span>
                            <!-- <span class="cart-amount">€30.00</span> -->
                        </a>
                        <a href="#offcanvas-mobile-menu"
                            class="header-action-btn header-action-btn-menu offcanvas-toggle d-lg-none">
                            <i class=" icon-menu"></i>
                        </a>
                    </div>
                </div>
                <!-- Header Action End -->
            </div>
        </div>
    </div>
    <!-- Header Bottom  End -->
    <!-- Header Bottom  Start -->
    <div class="header-bottom d-lg-none sticky-nav bg-white">
        <div class="container position-relative">
            <div class="row align-self-center">
                <!-- Header Logo Start -->
                <div class="col-auto align-self-center">
                    <div class="header-logo">
                        <a href="/"><img src="{% static  'apna/poora - Copy.png' %}" alt="Site Logo" /></a>
                    </div>
                </div>
                <!-- Header Logo End -->

                <!-- Header Action Start -->
                <div class="col align-self-center">
                    <div class="header-actions">
                        <div class="header_account_list">
                            <a href="javascript:void(0)" class="header-action-btn search-btn"><i
                                    class="icon-magnifier"></i></a>
                            <div class="dropdown_search">
                                <form class="action-form" action="#">
                                    <input class="form-control" placeholder="Enter your search key" type="text">
                                    <button class="submit" type="submit"><i class="icon-magnifier"></i></button>
                                </form>
                            </div>
                        </div>
                        <!-- Single Wedge Start -->
                        <div class="header-bottom-set dropdown">
                            <button class="dropdown-toggle header-action-btn" data-bs-toggle="dropdown"><i
                                    class="icon-user"></i></button>
                            <ul class="dropdown-menu dropdown-menu-right">

                                <li><a class="dropdown-item" href="login">Sign in</a></li>
                                <li><a class="dropdown-item" href="signup">Sign up</a></li>
                                <li><a class="dropdown-item" href="my-account.html">My account</a></li>
                                <li><a class="dropdown-item" href="checkout.html">Checkout</a></li>
                            </ul>
                        </div>
                        <!-- Single Wedge End -->
                        <a href="#offcanvas-cart"
                            class="header-action-btn header-action-btn-cart offcanvas-toggle pr-0">
                            <i class="icon-handbag"></i>
                            <span class="header-action-num" id="cna"></span>
                            <!-- <span class="cart-amount">€30.00</span> -->
                        </a>
                        <a href="#offcanvas-mobile-menu"
                            class="header-action-btn header-action-btn-menu offcanvas-toggle d-lg-none">
                            <i class="icon-menu"></i>
                        </a>
                    </div>
                </div>
                <!-- Header Action End -->
            </div>
        </div>
    </div>
    <!-- Header Bottom  End -->
    <!-- Main Menu Start -->
    <div class="bg-black d-none d-lg-block sticky-nav">
        <div class="container position-relative">
            <div class="row">
                <div class="col-md-12 align-self-center">
                    <div class="main-menu manu-color-white">
                        <ul>
                            <li class="dropdown"><a href="/" style="color:white;">Home </a>

                            </li>
                            <li><a href="about.html" style="color:white;">About us</a></li>

                            <li><a href="contact.html" style="color:white;">Contact us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Menu End -->
    </div>
    <!-- Header Area End  -->

    <!-- OffCanvas Cart Start -->
    <div id="offcanvas-cart" class="offcanvas offcanvas-cart">
        <div class="inner">
            <div class="head">
                <span class="title">Cart</span>
                <button class="offcanvas-close">×</button>
            </div>
            <div class="body customScroll">
                <ul class="minicart-product-list" id="elem">
                </ul>
            </div>
            <div class="foot">
                <div class="sub-total">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="text-left">Total :</td>
                                <td class="text-right theme-color" id="total"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="buttons">
                    <a href="cart.html" class="btn btn-dark btn-hover-primary mb-6">view cart</a>
                    <a href="checkout.html" class="btn btn-outline-dark current-btn">checkout</a>
                </div>
                <!--Kal ko meggage dalna ho toh-->
                <p class="minicart-message"></p>
            </div>
        </div>
    </div>
    <!-- OffCanvas Cart End -->

    <!-- OffCanvas Menu Start -->
    <div id="offcanvas-mobile-menu" class="offcanvas offcanvas-mobile-menu">
        <button class="offcanvas-close"></button>
        <div class="inner customScroll">

            <div class="offcanvas-menu mb-4">
                <ul>
                    <li><a href="/"><span class="menu-text">Home</span></a>
                    </li>
                    <li><a href="about.html">About Us</a></li>


                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </div>
            <!-- OffCanvas Menu End -->

            <!-- Language Currency start -->

            <div class="offcanvas-social mt-auto">
                <ul>
                    <li>
                        <a href="#"><i class="ion-social-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="ion-social-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="ion-social-google"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="ion-social-youtube"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="ion-social-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <!-- OffCanvas Menu End -->
    {% block body %}
    {% endblock body %}
    <script src=" https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
    </script>
    <script>
        function cl() {
            document.getElementById("cna").innerHTML = Object.keys(localStorage).length / 3;
            document.getElementById("cn").innerHTML = Object.keys(localStorage).length / 3;
            var a = "";
            var t = 0;
            for (const [key, value] of Object.entries(localStorage)) {
                if ((key.substring(key.length - 5, key.length)) != "*ur&|" && (key.substring(key.length - 5, key
                        .length)) != "*pr&|") {
                    a += `<li>
                      <a href="` + "/proddet/" + key + `" class="image"><img
                              src="` + localStorage[key + "*ur&|"] + `" alt="Cart product Image"></a>
                      <div class="content">
                          <a href="` + "/proddet/" + key + `" class="title">` + key + `</a>
                          <span class="quantity-price">` + localStorage[key] + ` x <span class="amount">` +
                        localStorage[key + "*pr&|"] + `</span></span>
                          <a href="/" id="` + key + "*r&|" + `" style="zoom: 150%;" class="remove">x</a>
                      </div>
                  </li>`
                    t += parseInt(localStorage[key + "*pr&|"]);
                }
            }
            document.getElementById("elem").innerHTML = a;
            document.getElementById("total").innerHTML = "₹" + t;
            $(".remove").click(function () {
                a = this.id.substring(0, this.id.length - 4);
                localStorage.removeItem(a);
                localStorage.removeItem(a + "*pr&|");
                localStorage.removeItem(a + "*ur&|");
            });
        }
        $(document).ready(cl);

        $(" .adc").click(function () {
            a = (this.id.substring(0, this.id.length - 1)).split(",");
            l = localStorage.getItem(a[0]);
            localStorage.setItem(a[0], (parseInt(l) || 0) + 1);
            localStorage.setItem(a[0] + "*pr&|", a[1]);
            localStorage.setItem(a[0] + "*ur&|", a[2]);
            cl();
        });
    </script>

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <script src="{% static  'assets/js/vendor/vendor.min.js' %}"></script>
    <script src="{% static  'assets/js/plugins/plugins.min.js' %}"></script>

    <!-- Main Js -->
    <script src="{% static  'assets/js/main.js' %}"></script>
</body>

</html>